<!doctype html>
<html>
<head>
    <title>Flask/Redis</title>
    <style>
    body  {
      background-image: url("static/rancheros_hero.png");
      color : white
      }
    a { color: white; }
    </style>

</head>
<body>
<div class="container">
  <!--  <img src=/static/rancherio_logo.png></img> -->
    <center>
    <h1>Worlds greatest Flask/Redis DEMO!. </h1>
    <h2>There have been {{hits}} hits.</h2>
    <h2>server : {{ server_name }} <br>

    <br><br><br>
    <h2> Commands : <h3>
      <a href=healthz>healthz</a><br>
</div>
</body>
