<!doctype html>
<html>
<head>
    <title>Docker Flask/Redis/Mongo</title>
    <style>
    body  {
      background-image: url("/static/suntrust_banner.jpg");
      background-repeat: no-repeat;
      color : black
      }
    a { color: black; }
    </style>

</head>
<body>
<div class="container">
    <center>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <h1>Worlds greatest Docker Flask/Redis/Mysql DEMO!. </h1>
    <h2> Today's secret is : {{ secret }} </h2>
    <h2>There have been {{hits}} hits.</h2>
    <h2>server : {{ server_name }} <br>
      Your ip : {{ ip }}</h2>
    <p>Contact me at : <a href="mailto:tatarao.nallani@suntrust.com">tatarao.nallani@suntrust.com</a>.</p>

</div>
</body>
